body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

span.increase {
    color: green;
}

span.decrease {
    color: red;
}

table {

    border-collapse: collapse;
    margin: auto;
}

table tr:hover {
    background-color: #444;
}

td,
th {
    text-align: center;
    padding: 10px;
}

tr {
    padding: 10px;
}

tr.new-entry>td {
    color: gold;
}

tr.new-entry>td:first-child::before {
    content: "✨";
}

tr.rank-up>td:nth-child(3) {
    color: lightgreen;
}

tr.rank-down>td:nth-child(3) {
    color: pink;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    background-color: #222;
}